/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Harmony_B", "Harmony_M", sans-serif;
}

/* Global Styles */
html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0;
  font-size: 5rem;
  padding: 5rem 12rem;
  color: white;
  background: var(--main-blue, #0a62a9);
  margin-top: 3rem;
}

.store-container {
  font-family: "Harmony_M";
  color: #fff;
  font-size: 9rem;
}

.ranking-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 10rem;
}

.rank {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;

  gap: 3rem;
}

button {
  margin: 2rem;
  width: 42.7rem;
  height: 12.3rem;
  flex-shrink: 0;
  position: relative;
  top: 7rem;
}

.myName {
  margin-left: 3rem;
}

.myPercent {
  font-size: 2.5rem;
  margin-right: 3rem;
}

.w-btn,
.w-btn-outline {
  position: relative;
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 1.5rem;
  font-family: "Harmony_M";
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}

.w-btn {
  color: var(--main-blue, #0a62a9);
  font-size: 9rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.w-btn-outline {
  text-decoration: none;
  font-weight: 600;
}

.w-btn-indigo,
.w-btn-indigo-outline {
  color: var(--main-blue, #0a62a9);
}

.w-btn-indigo {
  background-color: aliceblue;
}

.w-btn-indigo-outline {
  border: 3px solid aliceblue;
}

.w-btn-indigo-outline:hover {
  color: #1e6b7b;
  background: aliceblue;
}
